/* ======================================================================== GENERAL TAG ELEMENTS ========= */
body {
  margin: 0;
  width: auto;
  position: relative;
  text-align: center;
}

a {
  text-decoration: none;
}

a:visited {
  color: disable;
}

/* ======================================================================== NAVIGATION ========= */

.nav {
  top: 0;
  margin: 0;
  width: 100%;
  height: 44px;
  background-color: black;
  opacity: .8;x
  padding: 0px;
  margin: 0px;
  position: fixed;
  text-align: center;
  user-select: none
  font-size: 17px;
  z-index: 1000;
}

.nav a:visited {
  color: white;
  text-decoration: none;
}

.nav a:link {
  text-decoration: none;
}

.nav img {
  /*text-align: center;*/
  width: 20px;
  top: 10px;
}

.nav ul {
  width: 100%;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  justify-content: space-between;
}

.nav li {
  display: inline;
  width: 60%;
  position: relative;
  top: 2px;
  height: 44px;
  z-index: 1;
  padding: 2.3%;
  vertical-align: center;
}

.nav ul li:first-child {
  position: relative;
  top: 10px;
}

/* ========================================================================================= IPHONE ========= */

.iPhone {
  width: 100%;
  height: 636px;
  margin-top: 100px
}

.iPhone h2 {
  color: black;
  position: relative;
  top: 80px;
  font-size: 50px;
}

.iPhone h3 {
  color: black;
  position: relative;
  top: 40px;
  font-size: 30px;
}

.iPhone img {
  width: 990px;
  height: 200px;
  margin-top: 100px;
}


/* ==================================================================================== IPHONE RED ========= */

.iPhone-Red {
  background-color: #b00e23;
  width: 100%;
  height: 836px;

}

.iPhone-Red .logo {
  width: 200px;
  height: 100px;
}

.iPhone-Red img {
  margin: 20px;
}


/* ===================================================================================== IPAD ========= */

.iPad {
  overflow: hidden;
  background-color: #f5f5f5;
  height: 636px;
  width: auto;
  text-align: center;
}

.iPad img {
  position: relative;
  text-align: center;
  width: auto;
  height: auto;
  width: 100%;
  margin-top: 100px;
}

/* ============================================================================= SPLIT SECTIONS ========= */

.grid {
  display: grid;
}

/* ==================================================================================== IWATCH ========= */







/* =========================================================================== APPLE HEART STUDY ========= */





/* ================================================================================= MACBOOK PRO ========= */















/* ==================================== HOMEPOD ========= */





/* ==================================== WHY IPHONE? ========= */



/* ==================================== AIRPODS ========= */


/* ==================================== FOOTER ========= */

/* ========================================================== RESPONSIVE MEDIA QUERIES ========= */

@media(max-width: 996px) {

  .iPhone img {
    width: 600px;
    height: 150px;
  }

  .iPad img {
    width: 600px;
    height: 150px;
  }

}

@media(max-width: 625px) {
  .nav li {
    display: none;
  }

  .nav li:first-child {
    display: inline;
  }

}



